body,
.header,
.main,
.footer {
    width: 100%;
}

.header {
    padding: 15px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
}

.header__logo {
    font-size: 32px;
    font-weight: bold;
    padding-left: 10px;
    grid-column: 1/2;
}

.header__link {
    display: flex;
    justify-content: space-around;
    grid-column: 3/4;
}

.link__button {
    border: none;
    cursor: pointer;
    background: transparent;
}

.main {
    text-align: center;
    background: #eee;
}

.footer__copyright {
    padding: 20px;
    text-align: center;
}

.page-switch {
    text-align: center;
    color: #818181;
    font-size: 18px;
}

.page-switch__link {
    text-decoration: none;
    color: #0d89ec;
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.error-message {
    width: 100%;
    padding: 10px 0;
    color: rgb(253, 58, 58);
    text-align: left;
}

.common-title {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
}

.common-table,
.common-table__inner {
    width: 100%;
}

.common-table__row {
    border-top: 1px solid #000;
}

.common-table__th:first-of-type {
    padding-left: 30px;
}

.common-table__td:first-of-type {
    padding-left: 30px;
}

.common-table__th,
.common-table__td {
    padding-right: 10%;
    border-top: 1px solid #000;
    padding: 20px 0;
    text-align: left;
    width: 20%;
}