.content {
    width: 90%;
    padding-top: 20px;
    padding-bottom: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.date--link {
    padding: 0 15px;
    border: 1px solid #1a66c2;
    text-decoration: none;
    font-size: 20px;
    color: #1a66c2;
    background: #eee;
}

.date--present {
    margin: 0 40px;
    font-size: 20px;
}