.content {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 150px;
    text-align: center;
    margin: 0 auto;
}

.register-form__heading,
.register-form__inner,
.register-form__form,
.register-form__input,
.register-form__button {
    width: 100%;
}

.register-form__heading {
    margin-bottom: 40px;
}

.register-form__input {
    padding: 15px;
    border: 1px solid #000;
    border-radius: 3px;
    margin-bottom: 20px;
}

.register-form__button {
    text-align: center;
    color: #eee;
    background: #1a66c2;
    padding: 15px;
    border: 1px solid #1a66c2;
    border-radius: 3px;
    margin-bottom: 30px;
}
