.content {
    width: 70%;
    padding-top: 20px;
    padding-bottom: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.content__text {
    font-weight: bold;
    margin-bottom: 18px;
    width: 100%;
    margin-bottom: 25px;
}

.content__timestamp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 150px 150px;
    gap: 30px;
    row-gap: 30px;
    width: 100%;
}

.timestamp-item {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.timestamp--work-start {
    grid-column: 1/2;
    grid-row: 1/2;
}

.timestamp--work-end {
    grid-column: 2/3;
    grid-row: 1/2;
}

.timestamp--break-start {
    grid-column: 1/2;
    grid-row: 2/3;
}

.timestamp--break-end {
    grid-column: 2/3;
    grid-row: 2/3;
}

button {
    font-weight: bold;
    border: none;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

button:focus {
    opacity: 0.5;
}